<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/application.css">
    <title>ExVQA - Application</title>
    <link rel="icon" href="../static/img/logo_ti.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="../static/img/logo.png" alt="logo">
            <h1>BÁO CÁO <br> KHOÁ LUẬN TỐT NGHIỆP</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/model">Mô hình</a></li>
                <li><a href="/experiment">Dữ liệu</a></li>
                <li><a href="/application" class="active">Application</a></li>
            </ul>
        </nav>
    </header>
    <div class="content-wrapper">
        <div class="container">
            <h1>Visual Question Answering system</h1>
            <!-- Chatbot container -->
            <div class="chatbot-container">
                <div class="chatbot-messages" id="chatbot-messages">
                    <div class="message bot">
                        <label for="bot-msg">Bot:</label>
                        <p id="bot-msg">Hello, I am a Visual Question Answering system.</p>
                    </div>
                </div>
                <div class="chatbot-input input-wrapper">
                    <input type="text" id="user-input" placeholder="Message VQA system" ondrop="drop(event)" ondragover="allowDrop(event)" />
                    <button onclick="sendMessage()">Send</button>
                    <input type="file" id="file-input" style="display:none" accept="image/*" onchange="handleFileSelect(event)" />
                    <button class="upload-btn" onclick="triggerFileInput()">Image Upload</button>
                    <img id="image-preview" class="image-preview" src="" alt="Preview Image" />
                </div>
            </div>
        </div>

        <footer>
            <p>&copy; 2024 By Ho Vo Hoang Duy.</p>
        </footer>
    </div>

    <script src="../static/script/application.js"></script>
</body>
</html>