<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/index.css">
    <title>ExVQA - KHOÁ LUẬN TỐT NGHIỆP</title>
</head>
<body>
    <header>
        <div class="header-content">
            <img src="../static/img/Logo_IUH.png" alt="logo">
            <h1>KHOÁ LUẬN TỐT NGHIỆP</h1>
        </div>
        <h2 class="header-subtitle">HỆ THÔNG TRẢ LỜI CÂU HỎI TRỰC QUAN <br> SỬ DỤNG STACKED ATTENTION NETWORK VÀ EXTENDED LONG SHORT-TERM MEMORY</h2>
    </header>
    
    <nav>
        <ul>
            <li><a href="/" class="active">Trang chủ</a></li>
            <li><a href="/model">Mô hình</a></li>
            <li><a href="/experiment">Thực nghiệm</a></li>
            <li><a href="/application">Application</a></li>
        </ul>
    </nav>

    <div class="content-wrapper">
        <div class="container">
            <h2>Sinh viên thực hiện: Hồ Võ Hoàng Duy</h2>
            <h2>Giảng viên hướng dẫn: TS. Bùi Thanh Hùng</h2>
            <h3>Chuyên ngành: Khoa Học Máy Tính</h3>
            <h3>Mã số sinh viên: 20087541</h3>
            <h3>Lớp: DHKHMT16A</h3>
        </div>

        <div class="contact-info">
            <h3>Liên hệ</h3>
            <p>Email: 20087541@student.iuh.edu.vn</p>
            <p>Phone: +84 374 442 6144</p>
        </div>

        <footer>
            <p>&copy; 2024 Bởi Ho Vo Hoang Duy.</p>
        </footer>
    </div>
</body>
</html>