<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/index.css">
    <title>ExVQA - KHOÁ LUẬN TỐT NGHIỆP</title>
    <link rel="icon" href="../static/img/logo_ti.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="../static/img/logo.png" alt="logo">
            <h1>BÁO CÁO <br> KHOÁ LUẬN TỐT NGHIỆP</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/" class="active">Trang chủ</a></li>
                <li><a href="/model">Mô hình</a></li>
                <li><a href="/experiment">Dữ liệu</a></li>
                <li><a href="/application">Application</a></li>
            </ul>
        </nav>
    </header>

    <div class="content-wrapper">
        <div class="container">
            <h2 class="header-subtitle">HỆ THỐNG TRẢ LỜI CÂU HỎI TRỰC QUAN <br> SỬ DỤNG CƠ CHẾ CHÚ Ý XẾP CHỒNG VÀ MẠNG NƠ RON DÀI NGẮN MỞ RỘNG</h2>
            <p></p>
            <h2>Sinh viên thực hiện: Hồ Võ Hoàng Duy</h2>
            <h2>Giảng viên hướng dẫn: TS. Bùi Thanh Hùng</h2>
            <div class="sub-container">
                <h3>Chuyên ngành: Khoa Học Máy Tính</h3>
                <h3>Mã số sinh viên: 20087541</h3>
                <h3>Lớp: DHKHMT16A</h3>
            </div>
        </div>

        <div class="contact-info">
            <h3>Liên hệ</h3>
            <p>Email: 20087541@student.iuh.edu.vn</p>
            <p>Phone: +84 374 442 6144</p>
        </div>

        <footer>
            <p>&copy; 2024 By Ho Vo Hoang Duy.</p>
        </footer>
    </div>
</body>
</html>