<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/model.css">
    <title>ExVQA - Model</title>
</head>
<body>
    <header>
        <div class="header-content">
            <img src="../static/img/Logo_IUH.png" alt="logo">
            <h1>KHOÁ LUẬN TỐT NGHIỆP</h1>
        </div>
        <h2 class="header-subtitle">HỆ THÔNG TRẢ LỜI CÂU HỎI TRỰC QUAN <br> SỬ DỤNG STACKED ATTENTION NETWORK VÀ EXTENDED LONG SHORT-TERM MEMORY</h2>
    </header>
    <nav>
        <ul>
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/model" class="active">Mô hình</a></li>
            <li><a href="/experiment">Thực nghiệm</a></li>
            <li><a href="/application">Application</a></li>
        </ul>
    </nav>
    <div class="content-wrapper">
        <div class="container">
            <h1>Mô hình đề xuất</h1>
            <img src="../static/img/model.png" alt="model" style="max-width: 100%; height: auto;">
            <br>
            <br>
            <br>
            <h1>Kiến trúc SANsG</h1>
            <img src="../static/img/sans.png" alt="sans" style="max-width: 100%; height: auto;">
        </div>

        <div class="contact-info">
            <h3>Liên hệ</h3>
            <p>Email: 20087541@student.iuh.edu.vn</p>
            <p>Phone: +84 374 442 6144</p>
        </div>

        <footer>
            <p>&copy; 2024 Bởi Ho Vo Hoang Duy.</p>
        </footer>
    </div>
</body>
</html>