<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/model.css">
    <title>ExVQA - Model</title>
    <link rel="icon" href="../static/img/logo_ti.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="../static/img/logo.png" alt="logo">
            <h1>BÁO CÁO <br> KHOÁ LUẬN TỐT NGHIỆP</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/model" class="active">Mô hình</a></li>
                <li><a href="/experiment">Dữ liệu</a></li>
                <li><a href="/application">Application</a></li>
            </ul>
        </nav>
    </header>
    <div class="content-wrapper">
        <div class="container">
            <h1>Mô hình đề xuất</h1>
            <img src="../static/img/model.png" alt="model" style="max-width: 100%; height: auto;">
            <br>
            <br>
            <br>
            <h1>Kiến trúc SANsG</h1>
            <img src="../static/img/sans.png" alt="sans" style="max-width: 100%; height: auto;">\

            <h1>Kết quả độ đo BLEU trên tập dữ liệu PathVQA qua mỗi epochs.</h1>
            <img src="../static/img/plot_pathvqa.png" alt="model" style="max-width: 100%; height: auto;">
            <br>
            <br>
            <br>
            <h1>Kết quả độ đo BLEU trên tập dữ liệu VQA – Med 2019 qua mỗi epochs.</h1>
            <img src="../static/img/plot_vqamed.png" alt="sans" style="max-width: 100%; height: auto;">
            
            <br>
            <br>
            <br>

            <h1>Kết quả trên tập dữ liệu PathVQA</h1>
            <div class="three-column-container">
                <div class="column">
                    <img src="../static/img/results/pathvqa/rs1.png" alt="rs1">
                    <p><strong>Question: </strong>where is this from?</p>
                    <p><strong>Answer: </strong>gastrointestinal system</p>
                    <p><strong>Answer predicted: </strong>gastrointestinal system</p>
                </div>
                <div class="column">
                    <img src="../static/img/results/pathvqa/rs2.png" alt="rs2">
                    <p><strong>Question: </strong>what are collapsed tubules outlined by?</p>
                    <p><strong>Answer: </strong>wavy basement membranes</p>
                    <p><strong>Answer predicted: </strong>wavy basement membranes</p>
                </div>
                <div class="column">
                    <img src="../static/img/results/pathvqa/rs3.png" alt="rs3">
                    <p><strong>Question: </strong>what this image show primary sclerosing cholangitis?</p>
                    <p><strong>Answer: </strong>yes</p>
                    <p><strong>Answer predicted: </strong>yes</p>
                </div>
            </div>
            
            <br>
            <br>
            <br>

            <h1>Kết quả trên tập VQA - Med 2019</h1>
            <div class="three-column-container">
                <div class="column">
                    <img src="../static/img/results/vqamed/rs3.png" alt="rs3">
                    <p><strong>Question: </strong>what type of imaging modality is used to acquire the image?</p>
                    <p><strong>Answer: </strong>xr - plain film</p>
                    <p><strong>Answer predicted: </strong>xr - plain film</p>
                </div>
                <div class="column">
                    <img src="../static/img/results/vqamed/rs4.png" alt="rs4">
                    <p><strong>Question: </strong>is this noncontrast mri?</p>
                    <p><strong>Answer: </strong>yes</p>
                    <p><strong>Answer predicted: </strong>yes</p>
                </div>
                <div class="column">
                    <img src="../static/img/results/vqamed/rs5.png" alt="rs5">
                    <p><strong>Question: </strong>what is type of imaging is this?</p>
                    <p><strong>Answer: </strong>us - ultrasound</p>
                    <p><strong>Answer predicted: </strong>us - ultrasound</p>
                </div>
            </div>
        </div>
        <footer>
            <p>&copy; 2024 By Ho Vo Hoang Duy.</p>
        </footer>
    </div>
</body>
</html>